.productResult {
  display: flex;
  flex-direction: row;
}

.fi2 {
  min-height: 100px;
  flex-grow: 0.75;
  margin-left: 1rem;
}

.fi3 h5 {
  min-height: 100px;
  flex-grow: 1;
  margin: auto;
  align-items: end;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
