.error {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  width: 50%;
  justify-self: auto;
}

.error h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.error h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
