.navbarbtn {
  display: flex;
  flex-direction: flex-end;
}

.cartbtn > * {
  margin-left: 10px;
  align-items: end;
}

.clearbtn {
  margin-left: 10px;
  align-items: end;
}

.li {
  text-decoration: none;
  color: black;
  list-style: none;
  margin-left: 10px;
  align-items: end;
}
