.bc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-justify: center;
  font-family: "Montserrat", sans-serif;
  margin-left: 1rem;
  font-weight: 400;
}

.crumb {
  align-items: center;
  margin-left: 10px;
}

.separator {
  margin: 0 5px;
  color: #bfbfbf;
}
