/* .pd {
  place-items: center;
  align-items: flex-start;
  display: flex;
  width: 85%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.name {
  font-size: 0.75rem;
  font-weight: bold;
  margin-top: 1rem;
  width: fit-content;
}

.pdes {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  place-items: center;
}

.pdeet {
  margin-top: 5rem;
  display: flexbox;
}

.loader {
  display: flex;
  margin-top: 10rem;
  margin-left: 50%;
}

.button {
  background: #1e65ff;
  color: #fff;
} */
