.pd {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: "#ffebee";
  margin-top: 10rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
