.pd {
  place-items: center;
  align-items: flex-start;
  display: flex;
  width: 85%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.pdes {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.pdeet {
  margin-top: 5rem;
  display: flexbox;
}

.loader {
  display: flex;
  margin-top: 10rem;
  margin-left: 50%;
}
