.search-bar {
  width: 704px;
  height: 54px;
  top: 27px;
  left: 373px;
  padding: 0px 0px 0px 37px;
  border-radius: 32px;
  border: 1.5px;
}

.search-input {
  width: 704px;
  height: 54px;
  padding: 0px 0px 0px 37px;
  border-radius: 32px;
  border: 1.5px;
  border: 1.5px solid #b3b9c4;
}

.search-button {
  width: 80px;
  height: 54px;
  left: -87px;
  padding: 15px 31px 15px 25px;
  border-radius: 0px 32px 32px 0px;
  background: #1e65ff;
  margin-bottom: 0.25rem;
  margin-top: -1rem;
  margin-right: 10rem;
}

.anchor {
  width: 80px;
  height: 54px;
  left: -87px;
  padding: 15px 31px 15px 25px;
  border-radius: 0px 32px 32px 0px;
  background: #1e65ff;
}
