.fixed-search-bar {
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 44rem;
}

.search-input {
  flex: 1;
  margin-right: 10px;

  width: 44rem;
}

.search-button {
  background: #1e65ff;
  color: #fff;
}

.search-button:hover {
  background: #1e65ff;
  color: #fff;
}
