.search-bar {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.45rem;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 2rem;
  border: 1.5px solid #b3b9c4;
  box-sizing: none;
}

.search-input {
  flex: 1;
  height: 3.375rem;
  flex-shrink: 0;
  border: none;
  margin-right: -10px;
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  padding-left: 2rem;
  box-sizing: none;
}

.input:focus {
  outline: none;
  border-color: transparent;
}
.search-button-link {
  text-decoration: none;
}

.search-button {
  border: none;
  border-radius: 0rem 2rem 2rem 0rem;
  background: #1e65ff;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  display: flex;
  width: 5rem;
  height: 3.375rem;
  padding: 0.9375rem 1.9375rem 0.9375rem 1.5625rem;
  align-items: center;
  flex-shrink: 0;
}

@media (max-width: 999px) {
  .search-input {
    flex: 4;
  }

  .search-button {
    margin-left: 10px;
  }
}
